flexbox_lesson/09-maket/МАКЕТ ДЛЯ ПРОСТОГО ДЗ (УРОК № 9).psd
flexbox_lesson/09-maket/МАКЕТ ДЛЯ УСЛОЖНЕННОГО ДЗ (УРОК № 9).psd
flexbox_lesson/browserSyncStart.bat
flexbox_lesson/hight-maket/browserSyncStart.bat
courseProject/node_modules
courseProject/10-maket