.clients
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    & h2 
        margin: 57px 0 37px 0
        text-align: center
        text-transform: uppercase
        font-weight: 900
        position: relative
        padding-top: 30px
        &:before
            content: "~~~"
            position: absolute
            top: 70px
            left: 35%
            font-weight: normal
    .clients-img-wrap
        width: 212px
        height: 130px
        background-color: #ffffff
        border: 1px solid rgba(0,0,0,0.1)
        margin: 31px
        text-align: center
        line-height: 130px
        img 
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: .5s
            &:hover
                -webkit-filter: grayscale(0);
                filter: grayscale(0);