.feedback
    height: 570px
    background-color: #f4f4f4
    .row 
        display: flex
        justify-content: center
        align-items: center
        .fa
            font-size: 100px
            color: #ff9d00
        img 
            max-width: 256px
            max-height: 360px
            margin-left: 29px
            margin-right: 29px
            