.over
    position: absolute
    display: flex
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, .5)
    justify-content: center
    align-items: center
    z-index: 5
.modal-window
    width: 750px
    height: 280px
    background: #373737 url(../../img/modal.png) center no-repeat
    color: white
    &-head
        background-color: $buton-bg-color
        width: 100%
        height: 68px
        font-size: 21px
        text-transform: uppercase
        line-height: 68px
        text-align: center
    &-body
        width: 573px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        margin-top: 37px
        &__text
            font-size: 30px
            
            line-height: 24px
            & span 
                font-size: 21px


    