@import "variables"
@import "fonts"

body 
    font-family: 'Roboto', sans-serif 

.header-phone 
    display: flex
    justify-content: flex-end
    &__number
        font-size: 22px
        font-weight: 500
        text-transform: uppercase
        color: $text-dark
    &__button
        font-size: 14px
        font-weight: 500
        background-color: $buton-bg-color
        border: none
        color: white
        border-radius: 5px
    fa 
        width: 20px
        height: 20px
