@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.button {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff9d00;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px; }

.big-button {
  width: 150px;
  height: 55px; }

.over {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 5; }

.modal-window {
  width: 750px;
  color: white; }
  .modal-window-head {
    background-color: #ff9d00;
    width: 100%;
    height: 68px;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 68px;
    text-align: center; }
  .modal-window-body {
    background: #373737 url(../../img/modal.png) center no-repeat;
    background-size: cover;
    font-size: 29px;
    font-weight: 400;
    line-height: 27px;
    padding: 0;
    text-align: center;
    padding: 35px 88px 50px 88px; }
    .modal-window-body span {
      font-size: 24px; }
    .modal-window-body__label {
      display: block;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      margin-top: 23px;
      margin-bottom: 17px; }
    .modal-window-body input {
      width: 365px;
      height: 56px;
      margin-right: 16px;
      box-sizing: border-box;
      padding-left: 10px; }
    .modal-window-body__underline {
      margin-top: 9px;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px; }

* {
  outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 5px; }

/* Оформляем хедер */
.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .header-phone__number {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #373737;
    margin-right: 27px; }
  .header-phone__button .fa {
    font-size: 20px;
    margin-right: 7px; }

.first {
  display: flex;
  position: relative;
  width: 100%;
  height: 530px;
  margin-top: 15px;
  background: #373737 url(../../img/head-picture.png) center no-repeat;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  z-index: 1; }
  .first::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .first-box {
    position: relative; }
    .first-box::before {
      content: "";
      display: block;
      position: absolute;
      width: 390px;
      height: 390px;
      left: 50%;
      margin-left: -195px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      z-index: -1; }
    .first-box img:last-child {
      position: absolute;
      bottom: 35px;
      left: 110px; }
  .first-text-and-form {
    width: 600px;
    color: #fff; }
    .first-text-and-form .first-text__h1 {
      font-size: 41px;
      font-weight: 700; }
    .first-text-and-form .first-text__span {
      font-size: 28px;
      font-weight: 300; }
    .first-text-and-form .first-form {
      margin-top: 24px;
      box-sizing: border-box;
      padding: 30px 27px;
      background-color: rgba(111, 110, 106, 0.8); }
      .first-text-and-form .first-form__label {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 30px; }
        .first-text-and-form .first-form__label span {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase; }
      .first-text-and-form .first-form input {
        width: 300px;
        height: 56px;
        border-radius: 5px;
        padding-top: 2px;
        padding-left: 19px;
        margin-right: 10px; }
      .first-text-and-form .first-form__underline {
        font-size: 12px; }
